@{
  ViewBag.Title = "Demo Product List";
}

<style type="text/css">
  .list-group-item {
    font-size: 1.2em;
  }
</style>

<div class="well">
  <h2>Demo Product List</h2>
  <p>
    Demo search/add/edit/delete Product.
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group">
        <h3>Maintenance Page Samples</h3>
        <a class="list-group-item" href="/Product/SearchAndGrid">Search & Grid with Reset Button</a>
        <a class="list-group-item" href="/Product/Detail">Adding and Validation</a>
        <a class="list-group-item" href="/Product/Edit">Edit a Record</a>
        <a class="list-group-item" href="/Product/Maintenance">Complete Maintenance Page</a>
      </div>
    </div>
  </div>
</div>
